---
# Only the main Sass file needs front matter (the dashes are enough)
---
html *
{
   font-family: Arial,"黑体" !important;
}


table {
  display: block;
  width: 100%;
  overflow: auto;
  border-spacing: 0px;

  th,
  td {
    padding: 6px 13px;
    border: 1px solid lighten(gray, 5%);
    border-spacing: 0px;
  }

  tr {
    background-color: white;
    border-top: 1px solid darken(gray, 90%);
    border: 1px solid lighten(gray, 10%);
    border-spacing: 0px;

    &:nth-child(2n) {
      background-color: lightgray;
    }
  }

  img {
    background-color: transparent;
  }
}


@import "minima";

